@{
    ViewBag.Title = "Home Page";
}

    
<div class="row">
    <div class="col-md-4">
        <h1>Finanzas e Ingeniería Económica</h1>

    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Prof. José M. Martín Senmache Sarmiento</h2>
    </div>
</div>

<div class="spacer" ></div>

<div class="row">
        <div class="col-md-4">
@*        <h2>Integrates: </h2>*@
@*            <ul>*@
@*                <li class="list-unstyled">Roosevelt P.V.</li>*@
@**@
@*            </ul>*@
        </div>
    </div>


@section scripts
{
    <script>
        $(document).ready(function() {
            $('#image-section').addClass("pig-cover");
            $('#home-hr').addClass("home-footer");
        });
    </script>
}
